body{
    margin:0;
    padding:0;
}
button{
    width:100%;
    height:100%;
    background-color:#311C90;
    border:1px inset white;
    color:white;
}
.vote{
    width:50%;
    display:inline-block;
    margin:0 auto;
    height:100vh;
}
