body{
    margin:0;
    padding:0;
}
.vote{
    width:49%;
    display:inline-block;
    margin:0 auto;
    background-color:#311C90;
    border:1px solid white;
    color:white;
    height:100vh;
    text-align:center;
}
button{
    height:5%;
    line-height:5%;
    min-width:200px;
    color:white;
    border:none;
    background-color:#eec14e;
}

.label{
    height:0px;
}
