html,body{
    margin:0;
    padding:0;
    background-color:black;
    height:100%;
    width:100%;
}

.votes{
    width:100%;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    marrgin:0;
    padding:0;
}

.vote{
    display:inline-block;
    width:35%;
    padding:0;
    margin:0;
    text-align:center;
}
.vote button{
    font-size:1.5vw;
    width:100%;
}
.vote img{
    width:100%;
}
.vote_0,.vote_1{
    padding:0;
    margin:0;
}
.label{
    color:#eec14e;
    position:absolute;
    bottom:50%;
    font-size:8vw;
    font-weight:bold;
}
.vote_0 .label{
    left:25%;
}
.vote_1 .label{
    left:60%;
}

@media only screen and (max-width:1024px) and (min-width:319px){
    .vote{
        width:50%;
    }
}

